*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header
{
    color:black;
    text-align:center;
    text-decoration:underline;
}

ul
{
    list-style-type: disc;
    font-size: 18px;
    color:black;
    margin-left: 20px;
}

p{
    font-size: 20px;
}

.resume
{
    color:darkblue;
    text-decoration: underline;
}

hr
{
    border: 1px solid black;
    margin-left: 0;
    width: 95;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td 
{
    padding: 10px;
    text-align: center;
}

th
{
    background-color:brown;
    color: white;
    padding: 10px;
}

table,th,td
{
    border: 1px solid #ccc;
}

h1
{
    font-size: 38px;
}

body
{
 font-family: Arial, Helvetica, sans-serif;
 margin: 20px;
}

section
{
  margin-bottom: 20px;
}